{% extends "base.html" %}
{%  block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="nav-right">
        <ul>
          <li><a href="{{ url_for('menu', category="sandwiches") }}">Sandwiches</a></li>
          <li><a href="{{ url_for('menu', category="salads") }}">Salads</a></li>
          <li><a href="{{ url_for('menu', category="soups") }}">Soups</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      {% for item in menu_items %}
        {% include "customer/menu_items.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}