<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Dave's Bread</title>
  {% endif %}
</head>

<body>

<div id="wrapper">

<div id="header">
  {% block header %}
  {% endblock %}
</div>


<div id="top-nav">
  <ul>
    <li><a href="{{ url_for('manager') }}">Home</a></li>
    <li><a href="{{ url_for('current_orders') }}">Current Orders</a></li>
	<li><a href="{{ url_for('search_orders') }}">Search Orders</a></li>
    <li><a href="{{ url_for('stock_out') }}">Stock Items Out</a></li>
    {% if current_user.is_authenticated %}
    <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
    <li style="float:right"><a href="{{ url_for('user.login') }}">Login</a></li>
    {% endif %}
  </ul>
</div>
<div id="header"> <!-- I just want the same style as the header here-->
{% block order_detail_buttons %}
{% endblock %}
</div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash">
    <a href="#" class="close" data-dismiss="alert" aria-lable="close">&times;</a>
      <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<div id="sidebar">
  {% block sidebar %}
  {% endblock %}
</div>

<div id="section">
  {% block section %}
  {% endblock %}
</div>

</div>

<div id="footer">
  <p> &copy; Dave's Bread 2031 </p>
</div>

</body>
</html>

