<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Dave's Bread</title>
    {% endif %}
  </head>
  <body>
  <div class="nav">
    <p>Dave's Bread | <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('menu', category='all') }}">Menu</a></p>
    <br>
    {% if current_user.is_authenticated %}
      <p><a href="{{ url_for('logout') }}">Logout </a>
        {% if session['cart'] %}
          |<a href="{{ url_for('review_order') }}"> Review Order</a>
        {% endif %}
    {% else %}
      <a href="{{ url_for('user.login') }}">Login</a> | <a href="{{ url_for('user.register') }}">Sign Up</a></p>
    {% endif %}
  <hr>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert" aria-lable="close">&times;</a>
          <ul>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </ul>
      </div>
    {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>