{% extends "manager_base.html" %}

{% block section %}
<style>
table, th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
table {
    border: collapse;
}
td {
    padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<h2> Current Orders </h2>

      <table>
        <tr>
          <th>Name</th>
          <th>Order Recived On</th>
          <th>Pick Up Date</th>
          <th>Order Total</th>
          <th>Order Completed</th>
          <th>Details</th>
        </tr>
        {% for order in orders %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
          <td> {{ order.user.first_name }} {{ order.user.last_name }} </td>
          <td> {{ order.submitted_on }} </td>
          <td> {{ order.pick_up_date }} </td>
          <td> {{ order.order_total() }} </td>
          {% if order.ready_for_pick_up %}
            <td><span class="glyphicon glyphicon-ok"></span></td>
          {% else %}
            <td><span class="glyphicon glyphicon-minus-sign"></span></td>            
          {% endif %}
          <td><a href="{{ url_for('order_details', order_id=order.id) }}">Details</a></td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}