{% extends "manager_base.html" %}

{% block order_detail_buttons %}
  {% if not order.ready_for_pick_up %}
  <a href="{{ url_for('ready', order_id = order.id) }}" role="button" class="btn btn-primary">Mark Ready for Pick Up</a>
  {% else %}
  <a href="" role="button" class="btn btn-info">Order Ready</a>
  {% endif %}
  <a href="{{ url_for('contact_customer') }}" role="button" class="btn btn-primary">Contact Customer</a>
{% endblock %}

{% block section %}

<h3> Special Instructions: </h3>
<p> {{ order.special_instructions }}</p>

{% for item in menu_items %}
  <div class="container-fluid">
      <table class="table table-hover">
        <tr>
          <td width="70px">
            <a href="{{ url_for('detail',menu_item_name=item.menu_item.name) }}">
            <img height=100 width=100 src="{{ item.menu_item.image_path }}" /></a>
           </td>
           <td>
             <p><strong> {{ item.menu_item.name }} </strong></p>
             <br>
             <p>{{ item.menu_item.description }}</p>
             <br>
             <p> Side: {{ item.side_item.name }} </p>
             <br>
             <p> Price: {{ item.menu_item.price }}</p>
             </td>
           </tr>
         </table>
  </div>
{% endfor %}

{% endblock %}